__pycache__
/ESRGAN/*
/SwinIR/*
/venv
/tmp
/model.ckpt
/outputs
/log
/webui.settings.bat
/styles.csv
/params.txt
/styles.csv.bak
/interrogate
/user.css
/.idea
notification.mp3
/SwinIR
/textual_inversion
.vscode
/test/stdout.txt
/test/stderr.txt
/cache.json*
/config_states/
/models/dreambooth
models/Stable-diffusion/wd-1-4-anime_e2.ckpt
models/Stable-diffusion/v2-1_768-nonema-pruned.ckpt
models/Stable-diffusion/v2-1_768-ema-pruned.ckpt
models/Stable-diffusion/v1-5-pruned.ckpt
models/Stable-diffusion/v1-5-pruned-emaonly.ckpt
models/Stable-diffusion/sd21-unclip-h.ckpt
models/Stable-diffusion/lineArtModel_10.txt
models/Stable-diffusion/lineArtModel_10.ckpt
models/Stable-diffusion/f222.ckpt
models/Stable-diffusion/anyloraCheckpoint_bakedvaeFtmseFp16NOT.safetensors
repositories/taming-transformers
/extensions
wimakesb-stable-diffusion-webui\extensions
/models/*
/xformers-main/*